.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%; 
 
  border: 1px solid mediumblue;
  margin: auto;
}
html{
  font-size: 36px;
}
.colorContainer{
  width: 380px;
  height: 380px;
  border: 2px solid rgb(49, 48, 48);
  border-radius: 5px;
  box-shadow: 2px 2px 5px #000;
  display: grid;
  place-content: center;

}
.colorContainer p{
  display: grid;
  place-items: center;
}

.search{
  margin: 10px;
}

.search input[type ="text" ] {
  width: 380px;
  height: 40px;
  border: 2px solid rgb(49, 49, 49);
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 3px 3px 6px #000;

}
.search label{
  position: absolute;
  left: -99999px;
}
.search button{
  display: flex;
  flex-direction: row;
  font-size: 24px;
  background-color: rgb(141, 217, 226);
  margin-top: 20px;
  width: 300px;
  margin-left: 50px;
  height: 60px;
  text-align: center;
  justify-content: center;
  box-shadow: 3px 3px 6px #000;
  display: grid;
  place-content: center;
}
